.bedazzle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: pink;
    min-height: 100vh; /* changed from height to min-height */
    /* padding: 20px; */
}

.sections {
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    /* max-width: 90%; */
    /* width: 100%; */
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.section {
    margin: 20px;
    max-width: 300px;
    background-color: aqua;
    padding: 30px;
    border-radius: 20px;
    height: 300px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer; /* Make it look clickable */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.section:hover {
    box-shadow: 20px 20px 15px rgba(0, 0, 0, 0.2);
    background-color: aquamarine;
}

.image-icon {
    height: 250px;
    width: 250px;
}

.item-name {
    font-size: 1.15rem;
    font-weight: bold;
    /* background-color: aliceblue; */
    width: 100%;
    margin-bottom: 15px;
    text-align: start;
    font-family: 'Courier New', Courier, monospace;
}

.price {
    font-size: 1.2rem;
    display: block;
    margin-top: 5px;
    width: 100%;
    text-align: start;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    /* background-color: aliceblue; */
    /* margin-right: 60px; */
}

.amount {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media (max-width: 768px) {
    .sections {
      flex-direction: column;
      align-items: center;
    }
    .section {
      /* width: 80%; */
      margin: 20px 0;
    }
}

@media (min-width: 800px) {
    body {
        overflow: hidden;
    }
}