.myCart {
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

.cartTextIconContainer {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: -20px;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cartContainer {
    background-color: aquamarine;
    display: flex;
    gap: 30px;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    width: 90vw;
    /* max-width: 100%; */
    /* width: 100%; */
    flex-wrap: wrap;
    padding-block: 20px;
}

.cartItems {
    display: flex;
    flex-direction: column;
    background-color: rgb(243, 184, 7);
    padding: 10px;
    border-radius: 15px;
    width: 180px;
    max-width: 200px;
    /* align-items: center;
    justify-content: center; */
}

.insideText {
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
}

.editDeleteButtons {
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.bottomButtons {
    background-color: green;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

@media (max-width: 500px) {
    .cartContainer {
      flex-direction: column;
      align-items: center;
    }
}